@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Pacifico&display=swap');
* {
    box-sizing: border-box;
}

body{
    background: rgb(2, 0, 0);
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

/*------------


 <setion class="banner">
        <img src="/dinosaurios.png" alt="" class="banner__img">
        <div class="banner__content">El programa</div>
    </setion>

<main class="main">
    <section class="group group--color">
        <div class="container">
            <h2 class="main__title">canales de television</h2>
            <p class="main__txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quam quo dolor dolore reprehenderit molestias rerum odit? Eum explicabo maxime, quos, in nisi minima neque totam nihil qui, impedit inventore.Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quam quo dolor dolor reprehenderit molestias rerum odit? Eum explicabo maxim, quos, in nisi minima neque totam nihil que, impedit inventorie.Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quam quo dolor dolor reprehenderit molestias rerum odit? Eum explicabo maxim, quos, in nisi minima neque totam nihil que, impedit inventorie.Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quam quo dolor dolor reprehenderit molestias rerum odit? Eum explicabo maxim, quos, in nisi minima neque totam nihil que, impedit inventorie.Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quam quo dolor dolor reprehenderit molestias rerum odit? Eum explicabo maxim, quos, in nisi minima neque totam nihil que, impedit inventorie.Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quam quo dolor dolor reprehenderit molestias rerum odit? Eum explicabo maxim, quos, in nisi minima neque totam nihil que, impedit inventorie.Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quam quo dolor dolor reprehenderit molestias rerum odit? Eum explicabo maxim, quos, in nisi minima neque totam nihil que, impedit inventorie.Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quam quo dolor dolor reprehenderit molestias rerum odit? Eum explicabo maxim, quos, in nisi minima neque totam nihil que, impedit inventorie.Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quam quo dolor dolor reprehenderit molestias rerum odit? Eum explicabo maxim, quos, in nisi minima neque totam nihil que, impedit inventorie.Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quam quo dolor dolor reprehenderit molestias rerum odit? Eum explicabo maxim, quos, in nisi minima neque totam nihil que, impedit inventorie.Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quam quo dolor dolor reprehenderit molestias rerum odit? Eum explicabo maxim, quos, in nisi minima neque totam nihil que, impedit inventorie.</p>
        </div>
    </section>
    <section class="group main__about__description">
        <div class="container container--flex">
            <div class="column column--50">
                <img src="https://eloutput.com/app/uploads-eloutput.com/2019/03/sonic-real-imagen-pelicula.jpg" alt="">
            </div>
            <div class="column column--50">
                <h3 class="colunm__title">Sonic la pelicula</h3>
                <p class="column__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima sequi amet nesciunt, natus, labore facilis obcaecati, quidem corrupti voluptates eius numquam id! Dignissimos iusto aut ab natus unde ipsum ipsa?</p>
            <a href="" class="btn ntn--contact">contacto</a>
            </div>
        </div>
    </section>







--------------*/

img {
    width: 100%;
    max-width: 100%;
}

h2,h3 {
  margin: 0;
}

/*----------header-------------*/

.main-header {
    width: 200px;
}

.logo {
    font-size: 2.4em;
    color: #DE423A;
    padding: 2px;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}

.main-header__contactInfo__phone {
    background: #DE423A;
    color: white;
    margin: 0 auto;
    padding: 10px;
}

.main-header__contactInfo__address { 
    background: #DE423A;
    color: white;
    margin: 0 auto;
    padding: 10px;
}

.main-header [class*="icon-"]:before {
    position: relative;
    top: 2px;
    right: 6px;
}

.main-header__contactInfo:hover {
    
    cursor: pointer;
}

/*----------header-------------*/





.main-nav {
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 2px;
}

.container container--flex {display: inline-block;
    background: #000;
}

.icon-menu {
    display: block;
    color: rgb(255, 85, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    width: 24px;
    height: 24px;
    line-height: 100px;
    text-align: center;
    cursor: pointer;
    font-size: 1.6em;
}

.social-icon { 
    display: flex;
    justify-content:space-between;
    display: flex;
    background: black;
    padding: 4px;
    

}

.social-icon [class*="icon-"] {
    color: white;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: rgb(8, 8, 8);
    border-radius: 50%;
}

.social-icon__link {
    text-decoration: none;
}


.menu {
    position: absolute;
    top: 69px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.356);
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height .3s linear;
    
}



.menu__link {
    display: block;
    padding: 15px;
    color: red;
    text-decoration: none;
}

.menu__link--select {
    
    background: #02020280;
    color: white;
    }

    .menu__link--select1 {
        background: #02020280;
        color: white;
        }
        .menu__link--select2 {
            color: white;
            background: #02020280;
            }.menu__link--select3 {
                color: white;
                background: #02020280;
                }



.menu__link:hover {
    background: #f8f6f6cb;
    color: white;
    transition: 1.3s;
}

    
    .mostrar {
        height: 1000px;
    }

    /* --------------estilos MENU---------------- */

    .banner {
       top: 0px;
        position: relative;
        
    }

    .banner:before {
        content: '';
        position: static;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.705);
        z-index: 1000;
        top: 0;
    }

    .banner__img {display: block;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .banner__content {
        width: 90%;
        color: rgb(252, 249, 249);
        align-items: center;
        position: absolute;
        z-index: 1500;
        top: 5%;
        left: 50%;
        transform: translateX(-50%) translateY(70%);
        font-size: 2.3em;
        font-weight: bold;
    }












    .txt {
        background: rgb(255, 253, 253);
        color: rgb(0, 0, 0);
        font-size: 19px;
        padding: 25px;
        border-radius: 3%;
    }
